@model ProjectTask.ViewModels.DoctorTypeViewModel

<div class="modal-header">
    <h5 class="modal-title">@ViewData["Title"]</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form asp-action="Delete">
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd> 
            </dl>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Name" />                
                <input name="IsValid" type="hidden" value="True" />
                <input type="submit" value="Удалить" class="btn btn-danger" data-save="modal" />
        </div>
    </div>
</div>
</form>
