@model IEnumerable<ProjectTask.ViewModels.DoctorTypeViewModel>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard" asp-area="">Cправочник</a></li>
    <li class="active breadcrumb-item">@ViewData["Title"]</li>
</ol>

@(await Html.PartialAsync("_Add"))

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Name);
        columns.Add(model => "<a href='" + Url.Action("Edit", new { model.Id }) + "'>Изменить</a>")
            .Encoded(false);
        columns.Add(model => "<a href='" + Url.Action("Delete", new { model.Id }) + "'>Удалить</a>")
            .Encoded(false);
    })
    .ApplyDefaults()
)