
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Врачи</h3>
    </div>
    <div class="panel-body">
            <a asp-area="" asp-controller="Doctor" asp-action="Index" class="dh-button">
                <div class="text">
                    <span class="title col-xs-12 col-sm-12">Список врачей</span>
                </div>
            </a>
            <a asp-area="" asp-controller="DoctorType" asp-action="Index" class="dh-button">
                <div class="text">
                    <span class="title col-sm-12 col-xs-12">Список специальностей</span>
                </div>
            </a>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Пациенты</h3>
    </div>
    <div class="panel-body">
        <a asp-area="" asp-controller="Pacient" asp-action="Index" class="dh-button">
            <div class="text">
                <span class="title col-xs-12 col-sm-12">Список пациентов</span>
            </div>
        </a>
    </div>
</div>