@model IEnumerable<PacientViewModel>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard" asp-area="">Cправочник</a></li>
    <li class="active breadcrumb-item">@ViewData["Title"]</li>
</ol>

@(await Html.PartialAsync("_Add"))

<div class="active-pink-3 mb-4">
    <input id="GridSearch" class="form-control " placeholder="Введите ИИН или Фамилию пациента" />
</div>

@Html.AjaxGrid(Url.Action("IndexGrid"))

@section scripts{
    <script>
        document.getElementById('GridSearch').addEventListener('input', function () {
            var grid = new MvcGrid(document.querySelector('.mvc-grid'));
            grid.query.set('search', this.value);

            grid.reload();
        });
    </script>
}