@model IEnumerable<PacientViewModel>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.IIN);
        columns.Add(model => model.SurName);
        columns.Add(model => model.FirstName);
        columns.Add(model => model.LastName);
        columns.Add(model => model.PhoneNumber);
        columns.Add(model => model.Address);
        columns.Add(model => "<a href='" + Url.Action("Edit", new { model.Id }) + "'>Изменить</a>")
            .Encoded(false);
        columns.Add(model => "<a href='" + Url.Action("Delete", new { model.Id }) + "'>Удалить</a>")
            .Encoded(false);
    })
    .ApplyDefaults()
)